<% content_for(:title, @title) %>

<div class="row justify-content-sm-center">
  <div class="col-lg-10">
    <h2><%= @header %></h2>
    <hr>
    <div class="container">
      <div class="row">
        <% if @photos.any? %>
          <% @photos.each do |photo| %>
            <%= render partial: "photo_card", locals: { photo: photo } %>
          <% end %>
        <% else %>
          <%= render partial: "not_found" %>
        <% end %>
      </div>
    </div>

  </div>
</div>