<div class="row justify-content-sm-center">
  <div class="col-lg-10 col-lg-offset-1">
    <h2>Featured Photos</h2>
    <hr>
    <div class="container">
      <div class="row">
        <% @photos.each do |photo| %>
          <%= render partial: "photo_card", locals: { photo: photo } %>
        <% end %>
      </div>
    </div>

  </div>
</div>